{% include 'stats/header.html' %}
{% load crispy_forms_tags %}
<div class="row body-section">
    <div class="col login-section">
        <div class="login-area">
            <h3 class="covid-header">COVID-19 DATA</h3>
            <div class="login">
                {% if messages %}
                    {% for message in messages %}
                    <div class="alert alert-{{ message.tags }}">
                        {{ message }}
                    </div>
                    {% endfor %}
                {% endif %}
                {% block content %}

                {% endblock content %}
            </div>
        </div>
    </div>
</div>
{% include 'stats/footer.html' %}
    