.button{
    width:100%;
    padding:5px;
    background-color:#0000FF;
    color:#FFFFFF;
    border-color:#0000FF;
}
.button:hover{
    background-color:#00008B;
    border-color:#00008B;
    cursor:pointer;
    font-weight:bolder;  
}
.covid-header{
    text-align:center;
}
.login-section{
    display:flex;
    justify-content:center;
    align-items:center;
    min-height:100vh;
}
.login-area{
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
}
.login{
    width:100%;
    background-color:#FFFFFF;
}
.login-h1{
    text-align:center;
}
.dashboard-header{
    background-color:#22313f;
    display:flex;
    justify-content:space-between;
    color:#FFFFFF;
    font-weight:bolder;
    padding:10px;
}
@media screen and (max-width: 768px){
    .login-section {
        width:100%;
        min-height:100vh;
    }
    .covid-header{
        color:#22313F;
        font-weight:bolder;
    }
}
@media screen and (min-width:768px){
    .body-section {
        width:100%;
        min-height:100vh;
        background-color:#22313f;
    }
    .covid-header{
        color:#FFFFFF;
        font-weight:bolder;
    }
    .login{
        min-width:400px;
        background-color:#FFFFFF;
        padding:20px;
    }
}